body {
  background-color: #f1f1f1;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ceckle {
  background-color: #fff;
  width: 100vw;
  height: 20vh;
}

.img2 {
  position: absolute;
}
.se-scroll-hidden {
  opacity: 1;
}

.se-scroll-show {
  opacity: 1;
}
